.liCard {
  display: flex;
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;


  .img__container {
    width: 4.14119rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3125rem;
    background-color: #e0e0e0;
  }

  img {
    width: 2.4375rem;
    height: 2.34313rem;
  }



  button {
    color: #bdbdbd;
    font-family: var(--font-primary);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    background-color: transparent;
    border-color: transparent;
  }
}

.container__priceModal {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  gap: 1rem;
  width: 9.375rem;



}

.heading1 {
  color: var(--gray-600);
  font-family: var(--font-primary);
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;

}

.priceProductModal {
  color: #27AE60;
font-family: var(--font-primary);
font-size: 0.875rem;
font-style: normal;
font-weight: 600;

}

